*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    min-height: 100vh;
}
img{
    max-width:100%;
}
.colhan{
    max-width:5rem;
    position: relative;
    top:0.1rem;
}
nav{
    background-color:black;

}
nav ul{
    width:100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height:50px;

}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width:250px;
    z-index: 999;
    background-color:black;
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.mainbar{
    /* position: fixed; */
    /* top:0;
    left:0;
    width:100%;
    z-index: 1000;
    background-color:white; */
}
.x{
    filter: invert(1);
}
.sidebar li{
    width:100%;
}
.sidebar a{
    width:100%;
    color:white;
}
 .homepage{
    background-color: black;
    color:white;
 }
.item2 img{
    max-width:20rem;
} 
.pages{
    display:flex;
    align-items: center;
    justify-content:center;
} 
.contact-page{
    /* height: 70vh;
  background-image: url("../assets/images/contactbg.jpg");
  background-size: cover;
  background-position: center;
  align-items: center; */
  background-color:#333;
  overflow: hidden;
  color: white; 
}
.information{
    display:flex;
    max-width: 900px;
    margin: auto;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    gap:2rem;
}
.info-one{
    line-height: 1.6rem;
}
.info-one h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.info-one p{
    font-size: 18px;
    margin-bottom: 1rem;
}
.locate p, span{
    display: flex;
    align-items: center;
    gap:3px;
    font-weight: 700;
}
.contact-form{
    max-width: 400px;

}
.contact-form-box{
    /* margin-top: 30px; */
    margin-left: auto;
    margin-right: auto;
}
.contact-form input{
    /* width:100%; */
    margin-top: 5px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}
.contact-form input:focus{
    border: 2px solid black;
}
.contact-form textarea{
    width:100%;
    /* padding:1rem 1rem; */
    margin-top: 5px;
    font-size: 16px;
    padding:1rem;
}
.send{
    
    padding:12px;
    width:100%;
    background-color:#282828;
    border:none;
    cursor:pointer;
    color:white;
    font-size: 18px;
    border-radius: 3px;
    transition: 1s ease-out;
}
.send:hover{
    background-color: black;
}

.footer{
    text-align: center;
    font-weight: 500;
    background-color: black;
    color:white;
}
/* .colhan{
    padding: 10px 20px;
} */


