*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: black;
    color:white;
}
.form-box{
    max-width:250px;
    margin: auto;
    padding-top: 3rem;
}
label {
  font-weight: 600;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  color:white;
}
select,
input[type="number"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}
button{
    background-color: green;
    display: inline-block;
    margin-top: 2rem;
    padding: 8px;
  box-sizing: border-box;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;

}